<section class="text-gray-400 bg-gray-900 body-font overflow-hidden h-screen">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 my-auto">
        <h1 class="text-white text-3xl title-font font-medium mb-4">
          Sorry, page not found.
        </h1>
        <a
          routerLink="/home"
          class="cursor-pointer inline-flex items-center bg-gray-800 border-0 py-1 px-3 mt-4 focus:outline-none hover:bg-gray-700 rounded text-white"
          >Back to home
          <svg
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            class="w-4 h-4 ml-1"
            viewBox="0 0 24 24"
          >
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
      </div>
      <img
        alt="page-not-found"
        class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded"
        src="../../assets/images/page-not-found.png"
      />
    </div>
  </div>
</section>
